<?xml version="1.0" ?>
<model>
  <name>robotics_testlab_B/plastic_cabinet.shelf</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>AMIGO</name>
    <email>todo@todo.nl</email>
  </author>
  <description>robotics_testlab_B/plastic_cabinet.shelf</description>
</model>
