<?xml version="1.0"?>
<model>
  <!--
  This is the config file for a heightmap sdf file. The name below specifies the start of the model-path in model.sdf.
  Make sure this start is included into $GAZEBO_MODEL_PATH if you want to be able to load this sdf into gazebo. In
  this case the start lies one level above test_sdf, so the folder ed_obeject_models/models.
  -->
  <name>test_sdf/heightmap_walls</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>
  
  <author>
    <name>Kwin van der Veen</name>
    <email>kwinvdv@gmail.com</email>
  </author>

  <description>
    An example sdf using a heightmap.
  </description>
</model>
